<p id="notice"><%= notice %></p>

<h1>Classfields</h1>

<table>
  <thead>
    <tr>
      <th>Offer</th>
      <th>Url</th>
      <th>Price</th>
      <th>Size</th>
      <th>Rooms count</th>
      <th>Bedrooms</th>
      <th>Offer type</th>
      <th>District area</th>
      <th>Full description</th>
      <th>Energy ratio</th>
      <th>Construction date</th>
      <th>Offer view count</th>
      <th>Agency</th>
      <th>Origin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classfields.each do |classfield| %>
      <tr>
        <td><%= classfield.offer_id %></td>
        <td><%= classfield.url %></td>
        <td><%= classfield.price %></td>
        <td><%= classfield.size %></td>
        <td><%= classfield.rooms_count %></td>
        <td><%= classfield.bedrooms %></td>
        <td><%= classfield.offer_type %></td>
        <td><%= classfield.district_area %></td>
        <td><%= classfield.full_description %></td>
        <td><%= classfield.energy_ratio %></td>
        <td><%= classfield.construction_date %></td>
        <td><%= classfield.offer_view_count %></td>
        <td><%= classfield.agency %></td>
        <td><%= classfield.origin %></td>
        <td><%= link_to 'Show', classfield %></td>
        <td><%= link_to 'Edit', edit_classfield_path(classfield) %></td>
        <td><%= link_to 'Destroy', classfield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classfield', new_classfield_path %>
