<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @classfield.offer_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @classfield.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @classfield.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @classfield.size %>
</p>

<p>
  <strong>Rooms count:</strong>
  <%= @classfield.rooms_count %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @classfield.bedrooms %>
</p>

<p>
  <strong>Offer type:</strong>
  <%= @classfield.offer_type %>
</p>

<p>
  <strong>District area:</strong>
  <%= @classfield.district_area %>
</p>

<p>
  <strong>Full description:</strong>
  <%= @classfield.full_description %>
</p>

<p>
  <strong>Energy ratio:</strong>
  <%= @classfield.energy_ratio %>
</p>

<p>
  <strong>Construction date:</strong>
  <%= @classfield.construction_date %>
</p>

<p>
  <strong>Offer view count:</strong>
  <%= @classfield.offer_view_count %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @classfield.agency %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @classfield.origin %>
</p>

<%= link_to 'Edit', edit_classfield_path(@classfield) %> |
<%= link_to 'Back', classfields_path %>
