<p id="notice"><%= notice %></p>

<p>
  <strong>Classfield:</strong>
  <%= @classfield_image.classfield %>
</p>

<p>
  <strong>Url:</strong>
  <%= @classfield_image.url %>
</p>

<%= link_to 'Edit', edit_classfield_image_path(@classfield_image) %> |
<%= link_to 'Back', classfield_images_path %>
